/*  NEW-STYLE.CSS */

.main {
  height: 100vh;
}

.title-container h2 {
  color: #B90808;
  margin-bottom: 0;
}

.title-container h4 {
  text-transform: uppercase;
  color: #cacbcf;
}

.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.stats-container .card {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0, 0, 8px, -4px, rgba(0,0,0, 0.5);
}

.stats-container .card-title {
  color: #695d5c;
  font-weight: 400;
}

.stats-container .card-subtitle {
  font-weight: 600;
}

.stats-container .card-body {
  padding: 1rem;
}

.stats-container .card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.25s ease;
  cursor: pointer;
  overflow: hidden;
}

.stats-container .total {
  font-size: 0.8rem;
}

.tab-selection {
  height: 10px;
  background-color: #B90808;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
}

.cases-card:hover,
.active-cases-card:hover,
.recovered-cases-card:hover,
.deaths-cases-card:hover {
  transform: translate3d(0, -5px, 0);
  background-color: rgba(0, 0, 0, 0.125);
}

.cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
  /*👉color: white;👈*/
}

.active-cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
  /*👉color: white;👈*/
}

.recovered-cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
  /*👉color: white;👈*/
}

.deaths-cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
}

.cases .tab-selection{
  background-color: #B90808;
}

.recovered .tab-selection{
  background-color: #74ad74;
}

.deaths .tab-selection{
  background-color: #cc1034;
}

.map-background {
  margin-top: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 8px -4px rgba(0,0,0, 0.5);
  height: 548px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.map-container {
  /*👉height: 500px;👈*/
  /*👉height: 97%;👈*/
  height: 548px;
}

#map {
  /*👉position: relative;👈*/
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 97%;
  /*👉height: 500px;👈*/
 /*👉 height: 100%;👈*/
}

.chart-container {
  /*👉height: 250px;👈*/
  margin-left: 0px;
  margin-right: 0px;
}

.chart-container .col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eff2f6;
  border-radius: 12px;
}



.total-number {
  color: #B90808;
}

.recovered-number {
  color: #7fd922;
}

.deaths-number {
  color: #fa5575;
}

.side-panel-container {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
  box-shadow: 0 0 8px -4px rgba(0,0,0, 0.5);
  padding-top: 15px;
  /*👉padding-bottom: 15px;👈*/

  /*👉display: flex;
  flex-direction: column;
  justify-content: center;👈*/
}

.cases-table-container h4, .chart-container h4 {
  color: #6a5D5D;
  font-weight: 400;
}

.country-data {
  margin-top: 20px;
  overflow: scroll;
  /*👉height: 400px;👈*/
  /*👉height: 100%;👈*/
  height: 33vh;
  overflow-x: hidden;
 

  /*👉display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #eff2f6;
  border-radius: 24px;
  overflow-y: hidden;
  overflow-x: hidden;👈*/
}

.country-data .table td {
  padding: 0.5rem;
  border: none;
}

.linear-chart {
  /*👉height: 100%;👈*/
/*👉height: 400px;👈*/
height: 33vh;

  /*👉width: 200px;👈*/
  /*👉border: 1px solid rgba(0, 0, 0, 0.125);👈*/
  /*👉border-radius: 12px;👈*/
}

/*👉.pie-chart {
  height: 100%;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
}👈*/

#table-parent {
  padding-bottom: 15px;
}

.table thead th {
  background-color: #eff2f6;
  position: sticky;
  top: 0;
}

/* ****************************************************** */
