/*  NEW-STYLE.CSS */

.main {
  /*👉background-color: rgb(179, 151, 151);👈*/
  height: 100vh;
}

.title-container h1 {
  color: rgb(185, 8, 8);
  margin-bottom: 0;
}

.title-container h4 {
  text-transform: uppercase;
  color: #cacbcf;
}

.search-container {
  display: flex;
  align-items: center;
}

.stats-container .card {
  background-color: #eff2f6;
  border-radius: 12px;
}

.stats-container .card-body {
  padding: 1rem;
}

.stats-container .card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.25s ease;
  cursor: pointer;
}

.cases-card:hover,
.active-cases-card:hover,
.recovered-cases-card:hover,
.deaths-cases-card:hover {
  transform: translate3d(0, -5px, 0);
  background-color: rgba(0, 0, 0, 0.125);
}

.cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
  /*👉color: white;👈*/
}

.active-cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
  /*👉color: white;👈*/
}

.recovered-cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
  /*👉color: white;👈*/
}

.deaths-cases-card.show-clicked {
  background-color: rgba(0, 0, 0, 0.125);
  /*👉color: white;👈*/
}

/*👉.stats-box {
   background-color: rgb(202, 176, 176);
  margin: 16px;
  padding: 8px;
}👈*/

/*👉.card {
  background-color: #eff2f6;
  border-radius: 12px;
}👈*/

.map-container {
  /*👉background-color: blue;👈*/
  height: 500px;
}

#map {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.chart-container {
  /*👉 display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;👈*/
  height: 220px;
  margin-left: 0px;
  margin-right: 0px;
}

.chart-container .col {
  /*👉 background-color: slategray;👈*/
  background-color: #eff2f6;
  border-radius: 12px;
}

.linear-chart {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
}

/*👉.canvas {
  width: 50%;
}👈*/

.pie-chart {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
}

.total-number {
  color: #1d2c4d;
}

.active-number {
  color: #9d80fe;
}

.recovered-number {
  color: #7dd71d;
}

.deaths-number {
  color: #fb4443;
}

/*👉.side-panel-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #eff2f6;
  border-radius: 12px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}👈*/

.side-panel-container {
  /*👉 height: 911px;👈*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*👉 border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;👈*/
}

.data-info {
  /* total height of right col-4 */
  /*👉 height: 911px;👈*/
  height: 676px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.wrapper {
  background-color: orange;
  border-radius: 24px;
  overflow: hidden;
  /*👉  padding: 25px 25px 25px 25px;👈*/
  /*👉height: 676px;👈*/
}

.country-data {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #eff2f6;
  border-radius: 24px;

  /*👉border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;👈*/

  /*👉 margin-bottom: 15px;
  border-radius: 24px;👈*/
  /*👉overflow: scroll;👈*/
  overflow-y: hidden;
  overflow-x: hidden;
  /*👉overflow-y: hidden;👈*/
}

/*👉.table {
  padding-bottom: 10px;
  border-collapse: separate !important;
}👈*/

/*👉.table {
  
}👈*/

#table-parent {
  padding-bottom: 15px;
}

.table thead th {
  background-color: #eff2f6;
  position: sticky;
  top: 0;
}

/*👉.bottom-right-block {👈*/
/*👉display: flex;👈*/
/*👉flex-wrap: wrap;👈*/
/*👉justify-content: flex-start;👈*/
/*👉 margin-top: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  background-color: #eff2f6;👈*/
/*👉height: 220px;👈*/
/*👉height: 50px;
  width: 420px;👈*/
/*👉margin-left: 0px;
  margin-right: 0px;👈*/
/*👉}👈*/

/* ****************************************************** */
