/*  NEW-STYLE.CSS */

.main {
  /*👉background-color: rgb(179, 151, 151);👈*/
  height: 100vh;
}

.title-container h1 {
  color: rgb(185, 8, 8);
  margin-bottom: 0;
}

.title-container h4 {
  text-transform: uppercase;
  color: #cacbcf;
}

.search-container {
  display: flex;
  align-items: center;
}

.stats-container .card {
  background-color: #eff2f6;
  border-radius: 12px;
}

.stats-container .card-body {
  padding: 1rem;
}

.stats-box {
  /*👉 background-color: rgb(202, 176, 176);
  margin: 16px;
  padding: 8px;👈*/
}

/*👉.card {
  background-color: #eff2f6;
  border-radius: 12px;
}👈*/

.map-container {
  /*👉background-color: blue;👈*/
  height: 500px;
}

#map {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.chart-container {
  height: 300px;
  margin-left: 0px;
  margin-right: 0px;
}

.chart-container .col {
  /*👉 background-color: slategray;👈*/
  background-color: #eff2f6;
  border-radius: 12px;
}

.linear-chart {
  /*👉background-color: #eff2f6;👈*/
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  /*👉margin-right: 6px;
  margin-left: 6px;👈*/
}

.pie-chart {
  /*👉background-color: #eff2f6;👈*/
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  /*👉margin-right: 6px;👈*/
  /*👉 margin-left: 6px;👈*/
}

col {
  height: 50px;
  background-color: red;
}

.total-number {
  color: #1d2c4d;
}

.active-number {
  color: #9d80fe;
}

.recovered-number {
  color: #7dd71d;
}

.deaths-number {
  color: #fb4443;
}
